
django>=1.4
pytz
docutils
south
markdown
pil
feedparser
psycopg2
simplejson
tweepy
twitter
gunicorn

git+git://github.com/toastdriven/django-tastypie.git#egg=django-tastypie
git+git://github.com/PaulUithol/backbone-tastypie.git#egg=backbone_tastypie
