.collection-view h1 {
	font-size: 1.8em;
}
.collection-view ul {
	list-style-type: none;
	margin-left: 0; padding-left: 0;
}

.publication-item-view { margin-bottom: 1em; }
.publication-item-view p {
	margin: 0;
}
.publication-item-view a { padding-right: 0.5em; }