body {
	font-family: Arial, sans-serif;
	max-width: 75em;
	padding-bottom: 40px;
}

#top-bar {
	height: 4em;
	margin-top: 2em;
}
#top-bar a {
	color: #444;
}
#top-bar #brand {
	font-size: 2em;
	font-weight: bold;
}
#top-bar nav {
	float: right;
	font-size: 1.2em;
	text-transform: uppercase;
}
#top-bar nav a {
	display: inline;
	padding-left: 2em;
}
#top-bar nav a.selected {
	color: #FF7900;
}

form.model-form { max-width: 500px; }
form.model-form button[type=submit] {
	display: block;
	float: right;
}
form.model-form input[type=text] { width: 100%; }
label.model-form-label { margin-bottom: 0em; }
label.model-form-boolean-label:before { content: "\a"; white-space: pre; }
label.model-form-boolean-label {
	display: inline;
	margin-right: 0.5em;
}

@media (max-width: 940px) {
  body {
  }
}
