body {
	font-family: Arial, sans-serif;
	padding-bottom: 40px;
	max-width: 980px;
}

#top-bar {
	margin: 2em 0 1em 0;
}
#top-bar a {
	color: #444;
}
#top-bar #brand {
	font-size: 2em;
	font-weight: bold;
}
#top-bar nav {
	font-size: 1.2em;
	text-transform: uppercase;
}
#top-bar nav a {
	padding-left: 0.2em;
}
#top-bar nav a.selected {
	color: #FF7900;
}

form.model-form { max-width: 500px; }
form.model-form button[type=submit] {
	display: block;
	float: right;
}
form.model-form input[type=text] { width: 100%; }
label.model-form-label { margin-bottom: 0em; }
label.model-form-boolean-label:before { content: "\a"; white-space: pre; }
label.model-form-boolean-label {
	display: inline;
	margin-right: 0.5em;
}

@media (min-width: 980px) {
	#top-bar nav {
		text-align: right;
	}
}
@media (max-width: 980px) {
	#top-bar nav {
		text-align: left;
	}
}
